**/node_modules
**/logs
**/uploads
**/.git
dist
db-data
.vuepress
.vscode
docs
.gitignore
README.md
.eslintrc.js
.gitlab-ci.yml
.gitlab
.vscode
migrations
nginx
pg-admin
pg-data
.prettierrc
Makefile
docker-compose*.yml
commitlint.config.ts
sonar-project.properties
.eslintignore
.gitignore
seeders
mosquitto
.env.*
.husky
.nx
**/Files
**/coverage
**/test-report.html
**/test
